.profile-item {
  margin: 1rem 0;
}

.profile-item__info {
  padding: 1rem;
  text-align: center;
}

/* .profile-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.profile-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.profile-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.profile-item__actions button,
.profile-item__actions a {
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .profile-item__image {
    height: 20rem;
  }
}
